<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qlife</title>
    <style type="text/css">
      body { margin: 0; background-color: #fafafa; font-family: Roboto; } table
      { border-spacing: 0; } td { padding: 0; } img { border: 0; } .wrapper {
      width: 100%; table-layout: fixed; background-color: #fafafa; } .main {
      background-color: #fc5c65; margin: 20px auto; width: 100%;
      max-width: 595px; min-height: 200px; border-spacing: 0; font-family:
      sans-serif; color: #171a1b; }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <table class="main" width="100%">
        <tr>
          <td style="text-align: center; font-size: 30px; padding: 20px 0px;">
            <p style="color: #fff;">Congratulations !!</p>
          </td>
        </tr>
        <tr>
          <td
            style="padding: 0px 25px 25px 25px; font-weight: 400; font-size: 18px; text-align: center ;line-height: 26px"
          >
            <p style="color: #fff;">Dear Mr./Ms
              {{fullName}}, your account has been activated, now you can Login to your account with the email and password.</p>
              <p style="color: #fff; font-size: 15px; text-align: right; line-height: 5px;">Thank You</p>
              <p style="color: #fff; font-size: 15px; text-align: right;">From Qlife</p>
          </td>
        </tr>
      </table>
    </div>

  </body>

</html>